.cntr {
  margin: auto;
  width: 80%;
}

#myProgress {
  width: 80%;
  background-color: cornsilk;
}

#myBar {
  width: 0%;
  height: 30px;
  background-color: yellowgreen;

}

.form-text{
    margin-top: 12vh;
    font-size: medium;
    margin-bottom: 10px;
}

body{
    /*background-color: #E3E2DF;*/
    color: black;
    background-color: #216EBA;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg fill-opacity='0.62'%3E%3Ccircle fill='%23216EBA' cx='50' cy='0' r='50'/%3E%3Cg fill='%231c6cb5' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%231869af' cx='50' cy='100' r='50'/%3E%3Cg fill='%231467aa' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%231064a4' cx='50' cy='200' r='50'/%3E%3Cg fill='%230c629f' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%230a5f9a' cx='50' cy='300' r='50'/%3E%3Cg fill='%23085d94' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23075a8f' cx='50' cy='400' r='50'/%3E%3Cg fill='%23065889' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23075584' cx='50' cy='500' r='50'/%3E%3Cg fill='%2308537f' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%2309507a' cx='50' cy='600' r='50'/%3E%3Cg fill='%230b4d74' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%230d4b6f' cx='50' cy='700' r='50'/%3E%3Cg fill='%230e486a' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23104665' cx='50' cy='800' r='50'/%3E%3Cg fill='%23124360' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%2313405b' cx='50' cy='900' r='50'/%3E%3Cg fill='%23153e56' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23163B51' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: contain;
    background-color: #000000;
}

.subbut{
    margin: 0 auto;
}

.navbar-brand{
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
}

.text-area{
    margin: 0 auto;
    width: 70vw;
    height: 40vh;
    border-radius: 8px;
    border-color: rgb(6, 6, 94);
}
